.footer{
    background-color:#042d29;
    color:#fff ;
    padding: 2 em;
    text-align: center;

}
.social_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    list-style-type: nome;
}

.social_list li{
    list-style-type: none;
    margin: 0 2em;
}

.social_list li:hover{
    color: #ffbb;
    margin: 3 2em;
}
.social_list svg{
    font-size: 2em;
    cursor: pointer;
}
.copy_right{
    margin-top: 2em;
}
.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}
